n8n/workflows/m2_workflow1_daily_analysis.json
{
  "name": "M2 - Daily Inventory Analysis & Alerts (Workflow 1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "050607b4-bc30-474f-81e5-60258492eca9",
      "name": "Schedule Trigger (Daily 8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/m2/analyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"trigger_source\": \"cron\",\n  \"language\": \"ar\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "92e7dd46-b4c4-4efa-90d5-7f3967cbfcf7",
      "name": "Call Analyze API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -384,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet message = `*تقرير تحليل المخزون اليومي (نظام وكيل)* 📊\\n\\n`;\nconst summary = data.scan_summary || {};\nmessage += `📦 إجمالي المنتجات التي تم فحصها: ${summary.total_products_checked || 0}\\n`;\nmessage += `📉 منتجات منخفضة المخزون: ${summary.low_stock_count || 0}\\n`;\nmessage += `⚠️ تنبؤ بنقص المخزون (استباقي): ${summary.predicted_shortage_count || 0}\\n`;\nmessage += `🐢 منتجات بطيئة الحركة: ${summary.slow_moving_count || 0}\\n`;\nmessage += `⏳ منتجات تقترب من انتهاء الصلاحية: ${summary.near_expiry_count || 0}\\n\\n`;\n\nif (data.alerts && data.alerts.length > 0) {\n  message += `*🚨 التنبيهات التفصيلية:*\\n`;\n  data.alerts.forEach((alert, index) => {\n    let typeAr = alert.alert_type;\n    if (typeAr === 'predicted_shortage') typeAr = 'نقص متوقع';\n    else if (typeAr === 'low_stock') typeAr = 'مخزون منخفض';\n    else if (typeAr === 'slow_moving') typeAr = 'بطيء الحركة';\n    else if (typeAr === 'near_expiry') typeAr = 'قريب الانتهاء';\n    \n    let details = '';\n    if (alert.alert_type === 'predicted_shortage' && alert.metadata && alert.metadata.days_until_stockout) {\n        details = ` (ينتهي خلال ${Math.round(alert.metadata.days_until_stockout)} يوم)`;\n    }\n\n    message += `${index + 1}. [${typeAr}] منتج رقم: ${alert.product_id}${details}\\n`;\n  });\n}\n\nif (data.rfq_drafts && data.rfq_drafts.length > 0) {\n    message += `\\n*📝 مسودات طلبات عروض الأسعار (RFQ):* تم إنشاء ${data.rfq_drafts.length} مسودة.\\n`;\n}\nif (data.pricing_recs && data.pricing_recs.length > 0) {\n    message += `\\n*💰 توصيات التسعير:* تم اقتراح ${data.pricing_recs.length} تعديل للأسعار.\\n`;\n}\n\nreturn { json: { message: message, original_data: data } };"
      },
      "id": "ec272587-67b1-40df-ab74-045221351858",
      "name": "Format Message (Arabic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        96
      ]
    },
    {
      "parameters": {
        "emailType": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        192
      ],
      "id": "f7af621c-ed07-485c-bd87-250a14ce7581",
      "name": "Send a message",
      "webhookId": "cbfba9d7-46d0-43c8-94d0-e41cc9fba9d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "DhT1H8w7buuJ2Lj1",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## WorkFlow 1\n",
        "height": 352,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        0
      ],
      "typeVersion": 1,
      "id": "0e18b21c-b0ec-41f4-9d62-f3d8c3eff55d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Daily 8 AM)": {
      "main": [
        [
          {
            "node": "Call Analyze API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Analyze API": {
      "main": [
        [
          {
            "node": "Format Message (Arabic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message (Arabic)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "98641e84-9763-4407-b815-e1e821565de3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5734c87721377623d1c45e960df3b39592bbf9ac02b32c7c18f10a37cf1f287e"
  },
  "id": "RCdIwq0o-LWXsAw91ll3c",
  "tags": []
}